{% extends "layouts/main.html" %}
{% load static %}

{% block content %}
{% include "includes/slider.html" %}
<div class="hero-section mt-3 d-flex justify-content-center align-items-center">
    <img src="{% static 'images/logo.jpeg' %}" alt="Hotel Saravana Bhavan Logo" style="width: 250px; height: auto; margin-right: 10px;">
</div>
<p class="dancing-script-regular text-center">Fresh & Tasty Vegetarian Delights</p>
<a href="{% url 'Category' %}" class="btn btn-outline-secondary" style="display: block; margin: 0 auto; width: fit-content;">Browse Our Menu</a>


<section class="hidden-gems bg-white py-4 my-3">
    <div class="container">
        <div class="row g-4"> <!-- Added 'g-4' for gap between rows and columns -->
            <div class="col-12">
                <h3 class="mb-13 hidden">New Arrivals</h3>
                <hr style="border-color:black;">
            </div>

            {% for item in new_items %}
                <div class="col-md-4 col-lg-4">
                    <div class="card my-2 h-90">
                        <a href="{% url 'Product_detail' item.category item.name %}">
                            <img src="{{ item.item_image }}" class="card-img-top" alt="Categories">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-primary" >{{ item.name }}</h5>
                            <p class="card-text text-primary"> 
                                <span class="float-start old_priced"><s>Rs.{{ item.price }}</s></span>
                                <span class="float-end new_priced">Now: Rs.{{ item.offer_price }}</span>
                            </p>
                            
                            <style>
                                .btn-custom {
                                    width: 120px; /* Adjust width as needed */
                                    padding: 5px 10px; /* Adjust padding */
                                    font-size: 15px; /* Adjust font size */
                                }
                            </style>
                            <a class="btn btn-primary btn-custom" href="{% url 'Product_detail' item.category item.name %}" role="button">Try Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="hidden-gems bg-white py-4 my-3">
    <div class="container">
        <div class="row g-4"> <!-- Added 'g-4' for gap between rows and columns -->
            <div class="col-12">
                <h3 class="mb-13 hidden">Our Hidden Gems</h3>
                <hr style="border-color:black;">
            </div>

            {% for item in items %}
                <div class="col-md-4 col-lg-4">
                    <div class="card my-2 h-90">
                        <a href="{% url 'Product_detail' item.category item.name %}">
                            <img src="{{ item.item_image }}" class="card-img-top" alt="Categories">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-primary" >{{ item.name }}</h5>
                            <p class="card-text text-primary"> 
                                <span class="float-start old_priced"><s>Rs.{{ item.price }}</s></span>
                                <span class="float-end new_priced">Now: Rs.{{ item.offer_price }}</span>
                            </p>
                            
                            <style>
                                .btn-custom {
                                    width: 120px; /* Adjust width as needed */
                                    padding: 5px 10px; /* Adjust padding */
                                    font-size: 15px; /* Adjust font size */
                                }
                            </style>
                            <a class="btn btn-primary btn-custom" href="{% url 'Product_detail' item.category item.name %}" role="button">Try Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}